// **************
// RESET
// **************

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// **********
// GOOGLE FONTS
// **********

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

// **********
// LINK NON SOTTOLINEATI
// **********

a {
    text-decoration: none;
}

// **********
// CONTAINER WIDTH
// **********

.container {
    width: 80vw;
}

.content-container {
    width: 60vw;
}

// *********
// BUTTON HOVER
// *********

.button-hover:hover {
    color: black !important;
    background-color: white !important;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
}

// **********
// TITLES FONTS SIZE
// **********

h2 {
    font-size: 80px;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.1rem;
}
